{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.openjfx/javafx-controls {:mvn/version "12"}
        org.openjfx/javafx-base {:mvn/version "12"}
        org.openjfx/javafx-graphics {:mvn/version "12"}
        org.openjfx/javafx-media {:mvn/version "12"}
        org.openjfx/javafx-web {:mvn/version "12"}}
 :aliases {:examples {:extra-paths ["examples"]
                      :extra-deps {org.jsoup/jsoup {:mvn/version "1.11.3"}
                                   clj-http {:mvn/version "3.9.1"}
                                   com.atlassian.commonmark/commonmark {:mvn/version "0.12.1"}
                                   de.codecentric.centerdevice/javafxsvg {:mvn/version "1.3.0"}}}
           :cache {:extra-deps {org.clojure/core.cache {:mvn/version "0.7.1"}}}
           :dev {:extra-paths ["dev"]}
           :wayland {:jvm-opts ["-Djdk.gtk.version=2"]}
           :test {:extra-paths ["test"]
                  :extra-deps {metosin/testit {:mvn/version "0.2.0"}}}
           :depstar {:extra-deps {seancorfield/depstar {:mvn/version "0.1.5"}}
                     :main-opts ["-m" "hf.depstar.jar" "cljfx.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "cljfx.jar"]}}}
