{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.openjfx/javafx-controls {:mvn/version "11"}
        org.openjfx/javafx-base {:mvn/version "11"}
        org.openjfx/javafx-graphics {:mvn/version "11"}
        org.openjfx/javafx-media {:mvn/version "11"}
        org.openjfx/javafx-web {:mvn/version "11"}}
 :aliases {:examples {:extra-paths ["examples"]}
           :dev {:extra-paths ["dev"]}
           :wayland {:jvm-opts ["-Djdk.gtk.version=2"]}}}