name: Clojure CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11.0.2'
      - uses: DeLaGuardo/setup-clojure@3.1
        with: 
          tools-deps: '1.10.1.507'
      - name: Run tests
        run: clojure -A:test:runner:headless
